@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #393a3c;
}
h1 {
    text-align: center;
}
.todo-con {
    width: 800px;
    margin: 40px auto 0;
    background-color: #5d5f5c;
}
.add-task {
    background-color: #6e1b09;
    padding: 15px;
    position: relative;
}
.add-task input {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    color: #fff;
    background-color: #f07249;
    width: calc(100% - 45px);
    font-size: 20px;
}
.add-task input:focus {
    outline: none;
}
.add-task .plus {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    right: 12px;
    line-height: 43px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: transform .3s;
}
.add-task .plus:hover {
    transform: rotate(90deg);
}
.task-content {
    padding: 15px;
}
.task-content .del-all {
    background-color: #393a3c;
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.task-content .no-task {
    font-size: 17px;
}
.spans > span {
    display: block;
    background-color: #fff;
    margin-top: 10px;
    user-select: none;
    padding: 10px;
}
.spans > span:not(:last-child){
    margin-bottom: 10px;
}
.task-content .task-box .delete {
    float: right;
    background-color: #6e1b09;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.task-content .task-box.finished {
    text-decoration: line-through;
}
.task-stats {
    overflow: hidden;
    margin: 10px auto;
    width: 800px;
    background-color: #f6f6f6;
    font-size: 12px;
}
.task-stats .task-count {
    width: 47%;
    float: left;
    padding: 10px;
    font-weight: bold;
}
.task-stats .task-complete {
    width: 47%;
    float: right;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}
.task-stats .task-count span,
.task-stats .task-complete span {
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}
.task-stats .task-count span {
    background-color: #e91e63;
}
.task-stats .task-complete span {
    background-color: #03a9f4;
}